@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

* {
    margin: 0;
    line-height: normal;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Pretendard';
    letter-spacing: 0.3px;
  }
  
  /* @media screen and (max-width: 440px) {
    body {
      min-width: 270px;
    }
  } */
  
  a, li, ul {
    outline: none;
    list-style: none;
    text-decoration: none;
  }

  .stacks img {
    margin-top: 10px;
    margin-left: 3px;
  }


  /* Career List */
  

  #career ul, #project_detail ul {
    display: block;
    /* list-style-type: square; */
    list-style-type: none;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
  }

  #career li {
    /* list-style-type: disc; */
    display: list-item;
    text-align: -webkit-match-parent;
  }

  #project_detail li {
      list-style-type: disc;
      display: list-item;
      text-align: -webkit-match-parent;
      line-height: 1.9;
  }
  #project_detail div  {
    line-height: 1.5;
  }